#profilepic{
    margin: 0 0 0 10%;
    background-color: white;
    color: darkslategrey;
    
  
}
#addedMedia{
    margin: 0 0 0 10%;
    background-color: white;
    color:darkslategrey;
}
.signup{
    margin-bottom: 5%;
}