$primary-color: #ffffcc;
$secondary-color: #993366;
$tertiary-color: #08164c;

$header-font: "Fredericka the Great", cursive;
$text-font: "Londrina Sketch", cursive;

body {
  background-color: $primary-color;
  background-size: 85vh;
}

#titleBackground {
  background-image: linear-gradient(
      rgba(255, 255, 255, 0.25),
      rgba(255, 255, 255, 0.25),
      rgba(255, 255, 255, 0.25),
      rgba(255, 255, 255, 0.25),
      rgba(255, 255, 255, 0.25)
    ),
    url("./images/background-image.jpg");
  height: 100vh;
  background-size: 135% 100vh;
  background-position: right top;
}

#title-jumbo {
  background: none;
  text-align: center;
  position: relative;
  top: 10vh;
  font-family: "Fredericka the Great";
  margin: 0;
  padding: 0;
}

#search-jumbo {
  background: none;
  position: relative;
  top: 15vh;
}

.form-control {
  background: $primary-color;
  opacity: 0.7;
  // border: double black;
}

.btn-div {
  text-align: center;
  .btn {
    margin: 1rem;
    border: solid;
    font-weight: bold;
  }
}
// ridge|inset|outset|initial|inherit;
