.jumbotron {
  margin: 0;
  text-align: center;
  background-color: #fffefc;
}

#main-title {
  font-family: "Fredericka the Great", cursive;
}

#search-jumbotron {
  font-family: "Playfair Display", serif;
}

#artwork-jumbotron-top {
  background-image: url("./images/paint-background-top.jpg");
  background-size: 100%;
  height: 35vh;
}

#artwork-jumbotron-bottom {
  background-image: url("./images/paint-background-bottom.jpg");
  background-size: 100%;
  height: 40vh;
}

.portrait {
  width: 10rem;
  height: 10rem;
  border-radius: 50%;
  border: solid 3px purple;
  text-align: center;
  margin-top: 0vh;
}

#profile-photo {
  height: 45vh;
  background-color: #fffefc;
  font-family: "Fredericka the Great", cursive;
}

.logout {
  text-align: right;
}

#user-content {
  text-align: center;
  height: 45vh;
}

nav a {
  color: white;
}
