.bio{
    padding: 10%;
    /* border: solid 2px #993366; */
    margin: 5%;
    color:#ffffcc;
    background:#993366;
    width: 50%;
    
}

h2{
    font-family: "Fredericka the Great", cursive; 
}