#postFooter {
    margin-top: 10px;
}

#postHeader {
    text-align: center;
    font-family: "Helvetica Neue", sans-serif;
    color: #49a0b5
}

#createPostCard {
    background-color: rgb(225, 225, 225, .5);
}