#mediaImage {
    width: 200px;
    height: 200px;
}
.Spotlight {
    margin-bottom: 1em;
}
#ProfileMedia{
    text-align: center;
}
.profileInfo {
    color: black;
}

#spotlightHeader {
    text-align: center;
    font-family: "Fredericka the Great", serif;
    color: #49a0b5;
    font-size: 5vh;
}

#spotlightCard {
    background-color: rgb(225, 225, 225, .5);
}