body {

    /* background:url('https://i.imgur.com/UMnw0tW.jpg'); */

    background:url('https://i.imgur.com/UMnw0tW.jpg');

    /* background-position:center center; */
    min-width: 100vw;
    min-height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
}
#nav{
    margin-top: 0;
}
