/* font-family: 'Open Sans Condensed', sans-serif;
font-family: 'Abel', sans-serif; */


.Profile{
    font-family: 'Open Sans Condensed', sans-serif;

}

.ProfileMedia{
    margin: 5% 5% 10% 10%;
    padding: 2%;
    align-content: center;
    height:50px;
    width: auto;
    /* margin-top: 5%;
    margin-bottom: 20%; */
    /* background-color: rgb(75,67, 85); */
    background-color: rgb(0, 0, 0, .6);
    border-radius: 2%;
    box-shadow: 10px 10px 5px grey;
    /* box-shadow: 10px 10px 5px rgb(193, 177, 175, .5); */
    min-height: 300px;
    max-width: 100%;
    
}
.PicColumn{
    margin: 0, 10%, 5%, 0;
}
.ProfileInfo{
    margin: 5% 5% 5% 10%;
    padding: 2%;
    /* background-color:rgb(225, 225, 225); */
    /* background-color: rgb(75,67, 85); */
    background-color: rgb(0,0, 0, .6);
    border-radius: 2%;
    box-shadow: 10px 10px 5px grey
    /* box-shadow: 10px 10px 5px rgb(193, 177, 175, .5); */
    
}
.bio-border-wrap{
    
    max-width: 250px;
    position: relative;
    background-color:rgb(255, 255, 255);
    /* background: linear-gradient(-10deg, #49a0b5,#82d9ee); */
    padding: 3px;
    box-shadow: 10px 10px 5px grey;
    border-radius: 5%;
    margin-bottom: 8%;
  }

h3{
font-family: "Fredericka the Great", cursive; 
}
.InfoSection{
    border-radius: 2%;
}
h6{
    font-family: 'Abel', sans-serif;
    color: rgb(53, 58, 63);
    font-size: 20px;

}
h5{
    font-family: 'Abel', sans-serif;
    color: rgb(53, 58, 63);
    font-size:30px;

}
#info-border-wrap{
    
    /* max-width: 80%;
    max-height: 80%; */
    padding: 5%;
    position: relative;
    /* background: linear-gradient(-10deg,rgb(74, 80, 107), #49a0b5,#82d9ee); */
    /* background: linear-gradient(-10deg, rgb(74, 80, 107), rgb(140, 90, 94)); */
     /* background: linear-gradient(-10deg, #49a0b5,#82d9ee); */
    /* padding: 3px; */
    background-color: white;
    box-shadow: 10px 10px 5px grey;
    border-radius: 5%;
  }
  .Updates-border-wrap{
    
        max-width: 100%;
        max-height: 100%;
        /* padding: 1rem; */
        position: relative;
        /* background: linear-gradient(-10deg,rgb(97, 120, 145), rgb(70, 76, 103)); */
        /* background: linear-gradient(-10deg, #49a0b5,#82d9ee); */
        background-color: white;
        padding: 3px;
        border-radius: 5%;
        box-shadow: 10px 10px 5px grey; 
      }
      #nameSection{
        border-radius: 5%;
        align-content: center;
        padding:5%;
        /* background-color: rgb( 225, 225, 225, .1); */
        max-width: 100%;
        max-height: 100%;
        color: rgb(53, 58, 63);

      }
      #updates{
        background-color:white;
          margin:0, 0, 0, 30%;
      }
      h1{
          color: white;
      }
      .media{
          height: 250px;
          align-content: center;
          
      }
  