.search-jumbo-button {
  float: none;
  text-align: center;
}

.search-jumbo {
  background-color: transparent;
  text-align: center;
  margin-bottom: 20px;
  color: white;
}

.search-jumbo h1 {
  font-family: "Playfair Display", serif;
  font-weight: bolder;
  color: white;
}

.navbar {
  position: fixed;
  width: 100%;
  bottom: 0;
  padding-left: 0;
  padding-right: 0;
  margin-bottom: 0;
}
