button {
  float: right;
}

#profileName {
  font-size: 2rem;
}

.pic {
  position: center;
}

#navbar {
  position: fixed;
  width: 100;
  bottom: 0;
  padding-left: 0;
  padding-right: 0;
}

#header {
  margin-top: 2vh;
  margin-bottom: 20px;
  border-bottom: 1px ridge lightslategray;
}

#profileName {
  float: right;
}

.search-row {
  background-color: rgba(0, 0, 0, 0.6);
}
