#content {
    border: 1px solid rgb(73,160,181, 0.5);
    height: 100%;
}

#userPic {
    width: 5em;
    height: 5em;
    float: left;
    margin-right: 1em;
}

#favoriteArtistName {
    float: left;
    font-family: "Abel", serif;
    font-size: 25px;
    padding: 4% 0 0 9%;
}

#favoriteArtist {
    border: transparent;
}

#favoriteArtistHeader {
    text-align: center;
    font-family: "Helvetica Neue", sans-serif;
    color: #49a0b5;
}
