#logout {
  float: right;
}

.user-image {
  width: 15rem;
  height: 15rem;
  border-radius: 50%;
  border: solid 3px #fff;
  vertical-align: top;
  margin-bottom: 2vh;
}

#profileName {
  color: #fff;
}

#bio {
  color: #fff;
}
